.bg-light {
    background-color: #f5f6f8 !important;
}

.sortable-list li {
    margin-bottom: 6px;
    border-top-width: 1px !important;
    border-radius: 5px !important;
    padding: 5px 10px;
}

.sortable-list li.unactive, .sortable-list li.unactive input {
    color: #ccc;
    border-style: dashed;
}

.sortable-list li input.column_name {
    width: calc(100% - 50px);
}

.grag-icon {
    cursor: grab;
}

.grag-icon:active {
    cursor: grabbing;
}

.top-nav .nav-item a {
    padding: 15px !important;
}

.top-nav .nav-item a.active, .top-nav .nav-item a:hover {
    border-bottom: 3px solid;
}

.privacy-title {
    color: #5c5f62c4;
    font-size: 20px;
}

.privacy-header {
    border: 1px solid #e0e4e4a6;
    background-color: #eef9fb;
    border-radius: 0 !important;
    border-top: 3px solid #53bbbd;
    color: #000000b8;
}

.privacy-header i {
    border: 2px solid #00bcd473;
    border-radius: 50%;
    padding: 3px;
}

.w-17 {
    width: 17px;
}

.h-17 {
    height: 17px;
}

.w-20 {
    width: 20px;
}

.h-20 {
    height: 20px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.fs-13px {
    font-size: 13px;
}

.table td, .table th {
    vertical-align: middle !important;
    font-weight: normal;
    font-size: 13px !important;
}

.table thead th {
    border-bottom: none !important;
    border-top: none !important;
}

input[type=checkbox], input[type=radio] {
    height: 16px !important;
    width: 16px !important;
}

.lh-0 {
    line-height: 0 !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.btn-group, .btn-group-vertical {
    display: block !important;
}

#product_loader {
    display: none;
}

#product_loader td {
    background-color: #95bf47f0 !important;
    border: none;
    padding: 4px !important;
    color: white !important;
}

.table tbody + tbody {
    border-top: 1px solid #dee2e6 !important;
}

.hide {
    display: none;
}
